:root {
    --primary-color: #0d6efd;

    --light-bg: #f8f9fa;
    --dark-bg: #121212;
    --light-card-bg: #ffffff;
    --dark-card-bg: #1e1e1e;
    --light-border: #dee2e6;
    --dark-border: #343a40;
    --light-text: #212529;
    --dark-text: #f8f9fa;
    --secondary-text-light: #6c757d;
    --secondary-text-dark: #adb5bd;
    --border-radius: 1rem; /* 16px */
}

[data-bs-theme="light"] {
    --bg-color: var(--light-bg);
    --card-bg-color: var(--light-card-bg);
    --text-color: var(--light-text);
    --secondary-text-color: var(--secondary-text-light);
    --border-color: var(--light-border);
    --bg-hover: #e9ecef;
    --shadow-hover: 0 4px 12px rgba(0, 0, 0, 0.15);
    --footer-bg: rgba(0, 0, 0, 0.02);
}

[data-bs-theme="dark"] {
    --bg-color: var(--dark-bg);
    --card-bg-color: var(--dark-card-bg);
    --text-color: var(--dark-text);
    --secondary-text-color: var(--secondary-text-dark);
    --border-color: var(--dark-border);
    --bg-hover: #2c2c2c;
    --shadow-hover: 0 4px 12px rgba(0, 0, 0, 0.4);
    --footer-bg: rgba(255, 255, 255, 0.025);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}
